@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.ttf?shqnlc') format('truetype'), url('../fonts/icomoon.woff?shqnlc') format('woff'), url('../fonts/icomoon.svg?shqnlc#icomoon') format('svg');
}

i {
	font-family: 'icomoon';
	font-size: 3em;
}

.icon-tags2:before {
	content: "\e912";
}

.icon-stop-watch:before {
	content: "\e900";
}

.icon-times-circle:before {
	content: "\f057";
}

.icon-cloud-download:before {
	content: "\f0ed";
}

.icon-chevron-circle-left:before {
	content: "\f137";
}

.icon-chevron-circle-right:before {
	content: "\f138";
}

.icon-chevron-circle-up:before {
	content: "\f139";
}

.icon-chevron-circle-down:before {
	content: "\f13a";
}

.icon-play-circle:before {
	content: "\f144";
}

.icon-pause-circle:before {
	content: "\f28b";
}
