/*
	https://icomoon.io/app/
*/

@font-face {
    font-family: 'icomoon';
	src: url('../fonts/icomoon.ttf?730sxs') format('truetype'), url('../fonts/icomoon.woff?730sxs') format('woff'), url('../fonts/icomoon.svg?730sxs#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

i {
    font-family: 'icomoon';
}

i:before {
	position: relative;
}

.icon-price-tag:before {
	content: "\e935";
}

.icon-spinner3:before {
	content: "\e97c";
}

.icon-cheveron-down:before {
	content: "\e900";
	top: 0.05em;
}

.icon-cheveron-left:before {
	content: "\e901";
	left: -0.05em;
}

.icon-cheveron-right:before {
	content: "\e902";
	left: 0.05em;
}

.icon-cheveron-up:before {
	content: "\e903";
}

.icon-close:before {
	content: "\e904";
	font-size: 0.6em;
	top: -0.3em;
}

.icon-download:before {
	content: "\e905";
	font-size: 0.55em;
	top: -0.4em;
}

.icon-pause3:before {
	content: "\e907";
	font-size: 0.75em;
	top: -0.125em;
}

.icon-play:before {
	content: "\e908";
	font-size: 0.75em;
	top: -0.125em;
	left: 0.05em;
}
