.head-tags {
	padding: 10px;
	margin-top: 10px;
}

.tags {
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 0.25em;
}

.tag {
	display: inline-block;
	background-color: #eee;
	padding: 0.2em;
}

.tag i {
	font-size: 1em;
	color: #ccc;
	margin-right: 0.25em;
}

.tag a.k-nav-current i:before {
	color: #222;
}

.tag:hover i:before {
	color: #222;
}