ol.list li {
	clear: both;
	float: left;
	width: 50%;
	margin-top: -9em;
}

ol.list li:nth-of-type(odd) {
	text-align: right;
}

ol.list li:nth-of-type(even) {
	float: right;
	text-align: left;
}

ol.list li:first-of-type {
	margin-top: 0;
}

.event-inner {
	padding: 1em;
	margin: 1em;
}

.timeline-img {
	display: flex;
	justify-content: space-between;
}

.timeline-img:nth-of-type(2) {
	margin-top: 2px;
}

.timeline-img-one {
	width: 67%;
}

.timeline-img-two {
	width: 49.7%;
}

.timeline-img-three {
	width: 33%;
}

.cover-images {
	padding-top: 0.5em;
}

.timeline-summary {
	padding-top: 0.5em;
}

#infinite_load_msg {
	display: none;
	bottom: 0.5em;
	left: calc(50% - 1.5em);
	position: fixed;
	-moz-transition:  all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition:  all 0.3s ease-in-out;
	transition:  all 0.3s ease-in-out;
}
